@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-img {
  background: url('images/StartPageImg.jpg');
  height: 700px;
  background-size: cover;
}

.bg-subsite {
  background: url('images/img2.png');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}


/* menu */

.burger {
  display: none;
}

.private-icon {
  display: none;
}

/* dropdown menu*/
/* Hides the dropdown content initially */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
}

/* Show the dropdown content when hovering over the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}

/* gallery */
.image-container {
  position: relative;
  overflow: hidden;
}

.hover-opacity {
  transition: opacity 0.3s ease;
}

.image-container:hover .hover-opacity {
  opacity: 0.6;
}

/* Media query för mobila enheter */
@media screen and (max-width: 768px) {
  .burger {
    position: relative;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;

  }



  nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    height: 100vh;

  }

  .menu-icon {
    display: none;
  }

  .dropdown-content a {
    display: none;
  }
}