@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-img {
  background: url('images/StartPageImg.jpg');
  height: 700px;
  background-size: cover;
}

.bg-subsite {
  background: url('images/img2.png');
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}


/* menu */


.burger {
  display: none;

}

.private-icon {
  display: none;
}

/* dropdown menu*/
/* Hides the dropdown content initially */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
}

/* Show the dropdown content when hovering over the dropdown menu */
.dropdown:hover .dropdown-content {
  display: block;
}

/* gallery */
.image-container {
  position: relative;
  overflow: hidden;
}

.hover-opacity {
  transition: opacity 0.3s ease;
}

.image-container:hover .hover-opacity {
  opacity: 0.6;
}

/* burger */
.menu {
  display: none;
}

/* Visa menyn när klassen show-menu läggs till */
.show-menu {
  display: block;
}


/* Media query för mobila enheter */
@media screen and (max-width: 768px) {

  nav {
    position: relative;
    height: 100%;


  }

  nav ul {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: #fff;
    height: 100vh;
    z-index: 99;


  }

  nav li {
    font-size: 40px;
    padding-top: 35px;
  }

  .burger {
    position: fixed;
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    top: 0;
    width: 100%;
    z-index: 100;

  }

  .menu {
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 70px;

  }

  .menu-icon {
    display: none;
  }

  .img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .dropdown-content a {
    display: none;
  }

  .bg-subsite {
    display: none;
  }
}

@media (hover: none) {
  .mobile-no-hover-border:hover {
    border: none;
    /* Ta bort gränsen vid hovring på mobila enheter */
    /* Lägg till andra stilar du vill avaktivera */
  }
}